#app,body {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#app::before {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 1 !important;
}

* {
    position: relative;
    z-index: 2;
}

.current-weather-icon {
    font-size: 10rem !important;
}

.text-sm {
    font-size: .9rem !important;
}

.forecast {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping horizontally */
    gap: 10px; /* Optional spacing between items */
}

.forecast::-webkit-scrollbar {
    height: 4px; /* Horizontal scrollbar thickness */
    border-radius: 10px;
}

.forecast::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background for the scrollbar track */
    border-radius: 10px;
}

.forecast::-webkit-scrollbar-thumb {
    background: #0ec41e; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.forecast::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color for the thumb when hovered */
}

.daily {
    flex: 0 0 calc(100% / 7); /* Each item is one-seventh the width of the container */
    scroll-snap-align: start; /* Align items to the start when snapping */
}

a,.pointer {
    cursor: pointer;
}

.hover:hover {
color:#ffffff !important;
background-color: #0ec41e !important;
}

.btn-outline:hover {
    background-color: #c9c9c9 !important;
    transition: .15s ease-in-out;
    transform: scale(1.10);
}

.font-weight-bold {
    font-weight: bold;
}

@media (max-width: 800px) {
    .daily {
      flex: 0 0 calc(100% / 3); /* Each item is one-third the width of the container */
    }
  }
  